
.header{
	margin-bottom:15px;
}

fieldset{
	border:1px solid #ccc;
	border-radius:6px;
}

#divUtenti img{
	max-height:54px;
	border-radius:16px;
	margin:2px;
}

#divUtenti span{
    display:inline-block;
	width:100px;
    text-align:left;
}


/* **************** CHAT ********************* */

.chat h1{
	text-align:center;
}

#wrapper {
    height: 600px;
    overflow: auto;
    margin: 12px;
    padding: 8px;
    background-color: #fee;
}

#wrapper img{
	max-height:28px;
	border-radius:14px;
    margin-right:5px;
}

/* queste classi sono usate dalla funzione visualizza() */

.message-container {
    margin: 12px 0;
    padding: 8px;
    background-color: #f1eeee;
}

.message-data {
    font-weight: bold;
}

.message-from {
    font-style: italic;
}