

/* **************** BANNER IMG ******************* */

#banner {
    display: flex;
	height:120px;
}

#banner>div {
    width: 110px;
}

#banner img {
    width: 90px;
}


/* **************** CHAT ********************* */

.chat h1 {
    text-align: center
}

#wrapper {
    height: 600px;
    overflow: auto;
    margin: 12px;
    padding: 8px;
    background-color: #fee;
}

#wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* queste classi sono usate dalla funzione visualizza() */

.message-container {
    margin: 12px 0;
    padding: 8px;
    background-color: #f1eeee;
}

.message-data {
    font-weight: bold;
}

.message-from {
    font-style: italic;
}