#frmInvia{
	border:1px solid #AAA; 
	background-color:#F2F2FF; 
	padding:12px;	
	margin:12px 0;
}

#frmInvia input{
	padding:7px;
	width:100%;
	font-size:0.88em;
}

/* terminale md */
@media  (min-width:768px) and (max-width:992px){ 
	#frmInvia input{
		width:120%;
	}
	#frmInvia div:nth-of-type(3) input{
		width:105%;
	}
}

#tabMail{
	border:2px solid #AAA; 
	background-color:#F2F2FF; 
	margin-top:20px;
	margin-bottom:0;
}

.icona-rossa{
	color: #dc3545;  /* colore usato da is-invalid */
	border:1px solid #dc3545; 
	border-right:transparent;
}
